<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create_room" method="POST">
        <label class="screen_only"for="room_pass">Insira uma senha</label>
          <input type="password" name="password" id="room_pass" placeholder="Insira uma senha">
        <button>
            <img src="images/users_white.svg" alt="Criar sala">
            Entrar na sala
        </button>
    </form>
</section> 
