<section>
    <h2>Entre como participante</h2>
    <form action="/enterroom" method="POST">
        <label class="screen_only"for="room_id">C칩digo da sala</label>
        <input name="roomId" type="number" id="room_id" placeholder="C칩digo da sala">
        <button>
            <img src="images/enter_room.svg" alt="Entrar na sala">
            Entrar na sala
        </button>
    </form>
</section>

<div class="separator">
    <div class="line_bar"></div>
    <div id="text_ou">ou</div>
    <div class="line_bar"></div>
</div>

<section>
    <h2>Crie sua pr칩pia sala de forma f치cil</h2>
    <a href="/create_pass" class="button outlined">
        <img src="images/users.svg" alt="Criar_Sala">Criar Sala
    </a>
</section>